/* ====================================================
reset style
==================================================== */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700&subset=japanese");
html {
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 10px;
  /* Base font size, change to 14px or 16px if needed */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

address, caption, cite, code, dfn, var {
  font-style: normal;
  font-weight: normal;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
input, textarea, select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

del, ins {
  text-decoration: none;
}

main {
  display: block;
}

section {
  position: relative;
}

/* ====================================================
Font
==================================================== */
/* ====================================================
Media Quary
==================================================== */
@media screen and (min-width: 835px) {
  .mbpc-1 {
    margin-bottom: 1px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-1 {
    margin-bottom: 1px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-2 {
    margin-bottom: 2px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-2 {
    margin-bottom: 2px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-3 {
    margin-bottom: 3px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-3 {
    margin-bottom: 3px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-4 {
    margin-bottom: 4px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-4 {
    margin-bottom: 4px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-5 {
    margin-bottom: 5px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-5 {
    margin-bottom: 5px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-6 {
    margin-bottom: 6px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-6 {
    margin-bottom: 6px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-7 {
    margin-bottom: 7px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-7 {
    margin-bottom: 7px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-8 {
    margin-bottom: 8px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-8 {
    margin-bottom: 8px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-9 {
    margin-bottom: 9px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-9 {
    margin-bottom: 9px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-10 {
    margin-bottom: 10px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-10 {
    margin-bottom: 10px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-11 {
    margin-bottom: 11px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-11 {
    margin-bottom: 11px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-12 {
    margin-bottom: 12px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-12 {
    margin-bottom: 12px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-13 {
    margin-bottom: 13px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-13 {
    margin-bottom: 13px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-14 {
    margin-bottom: 14px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-14 {
    margin-bottom: 14px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-15 {
    margin-bottom: 15px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-15 {
    margin-bottom: 15px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-16 {
    margin-bottom: 16px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-16 {
    margin-bottom: 16px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-17 {
    margin-bottom: 17px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-17 {
    margin-bottom: 17px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-18 {
    margin-bottom: 18px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-18 {
    margin-bottom: 18px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-19 {
    margin-bottom: 19px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-19 {
    margin-bottom: 19px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-20 {
    margin-bottom: 20px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-20 {
    margin-bottom: 20px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-21 {
    margin-bottom: 21px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-21 {
    margin-bottom: 21px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-22 {
    margin-bottom: 22px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-22 {
    margin-bottom: 22px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-23 {
    margin-bottom: 23px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-23 {
    margin-bottom: 23px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-24 {
    margin-bottom: 24px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-24 {
    margin-bottom: 24px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-25 {
    margin-bottom: 25px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-25 {
    margin-bottom: 25px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-26 {
    margin-bottom: 26px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-26 {
    margin-bottom: 26px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-27 {
    margin-bottom: 27px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-27 {
    margin-bottom: 27px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-28 {
    margin-bottom: 28px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-28 {
    margin-bottom: 28px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-29 {
    margin-bottom: 29px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-29 {
    margin-bottom: 29px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-30 {
    margin-bottom: 30px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-30 {
    margin-bottom: 30px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-31 {
    margin-bottom: 31px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-31 {
    margin-bottom: 31px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-32 {
    margin-bottom: 32px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-32 {
    margin-bottom: 32px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-33 {
    margin-bottom: 33px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-33 {
    margin-bottom: 33px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-34 {
    margin-bottom: 34px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-34 {
    margin-bottom: 34px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-35 {
    margin-bottom: 35px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-35 {
    margin-bottom: 35px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-36 {
    margin-bottom: 36px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-36 {
    margin-bottom: 36px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-37 {
    margin-bottom: 37px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-37 {
    margin-bottom: 37px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-38 {
    margin-bottom: 38px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-38 {
    margin-bottom: 38px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-39 {
    margin-bottom: 39px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-39 {
    margin-bottom: 39px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-40 {
    margin-bottom: 40px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-40 {
    margin-bottom: 40px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-41 {
    margin-bottom: 41px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-41 {
    margin-bottom: 41px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-42 {
    margin-bottom: 42px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-42 {
    margin-bottom: 42px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-43 {
    margin-bottom: 43px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-43 {
    margin-bottom: 43px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-44 {
    margin-bottom: 44px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-44 {
    margin-bottom: 44px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-45 {
    margin-bottom: 45px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-45 {
    margin-bottom: 45px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-46 {
    margin-bottom: 46px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-46 {
    margin-bottom: 46px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-47 {
    margin-bottom: 47px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-47 {
    margin-bottom: 47px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-48 {
    margin-bottom: 48px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-48 {
    margin-bottom: 48px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-49 {
    margin-bottom: 49px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-49 {
    margin-bottom: 49px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-50 {
    margin-bottom: 50px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-50 {
    margin-bottom: 50px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-51 {
    margin-bottom: 51px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-51 {
    margin-bottom: 51px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-52 {
    margin-bottom: 52px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-52 {
    margin-bottom: 52px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-53 {
    margin-bottom: 53px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-53 {
    margin-bottom: 53px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-54 {
    margin-bottom: 54px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-54 {
    margin-bottom: 54px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-55 {
    margin-bottom: 55px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-55 {
    margin-bottom: 55px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-56 {
    margin-bottom: 56px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-56 {
    margin-bottom: 56px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-57 {
    margin-bottom: 57px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-57 {
    margin-bottom: 57px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-58 {
    margin-bottom: 58px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-58 {
    margin-bottom: 58px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-59 {
    margin-bottom: 59px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-59 {
    margin-bottom: 59px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-60 {
    margin-bottom: 60px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-60 {
    margin-bottom: 60px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-61 {
    margin-bottom: 61px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-61 {
    margin-bottom: 61px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-62 {
    margin-bottom: 62px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-62 {
    margin-bottom: 62px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-63 {
    margin-bottom: 63px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-63 {
    margin-bottom: 63px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-64 {
    margin-bottom: 64px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-64 {
    margin-bottom: 64px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-65 {
    margin-bottom: 65px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-65 {
    margin-bottom: 65px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-66 {
    margin-bottom: 66px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-66 {
    margin-bottom: 66px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-67 {
    margin-bottom: 67px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-67 {
    margin-bottom: 67px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-68 {
    margin-bottom: 68px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-68 {
    margin-bottom: 68px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-69 {
    margin-bottom: 69px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-69 {
    margin-bottom: 69px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-70 {
    margin-bottom: 70px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-70 {
    margin-bottom: 70px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-71 {
    margin-bottom: 71px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-71 {
    margin-bottom: 71px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-72 {
    margin-bottom: 72px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-72 {
    margin-bottom: 72px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-73 {
    margin-bottom: 73px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-73 {
    margin-bottom: 73px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-74 {
    margin-bottom: 74px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-74 {
    margin-bottom: 74px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-75 {
    margin-bottom: 75px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-75 {
    margin-bottom: 75px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-76 {
    margin-bottom: 76px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-76 {
    margin-bottom: 76px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-77 {
    margin-bottom: 77px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-77 {
    margin-bottom: 77px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-78 {
    margin-bottom: 78px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-78 {
    margin-bottom: 78px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-79 {
    margin-bottom: 79px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-79 {
    margin-bottom: 79px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-80 {
    margin-bottom: 80px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-80 {
    margin-bottom: 80px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-81 {
    margin-bottom: 81px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-81 {
    margin-bottom: 81px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-82 {
    margin-bottom: 82px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-82 {
    margin-bottom: 82px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-83 {
    margin-bottom: 83px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-83 {
    margin-bottom: 83px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-84 {
    margin-bottom: 84px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-84 {
    margin-bottom: 84px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-85 {
    margin-bottom: 85px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-85 {
    margin-bottom: 85px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-86 {
    margin-bottom: 86px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-86 {
    margin-bottom: 86px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-87 {
    margin-bottom: 87px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-87 {
    margin-bottom: 87px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-88 {
    margin-bottom: 88px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-88 {
    margin-bottom: 88px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-89 {
    margin-bottom: 89px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-89 {
    margin-bottom: 89px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-90 {
    margin-bottom: 90px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-90 {
    margin-bottom: 90px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-91 {
    margin-bottom: 91px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-91 {
    margin-bottom: 91px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-92 {
    margin-bottom: 92px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-92 {
    margin-bottom: 92px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-93 {
    margin-bottom: 93px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-93 {
    margin-bottom: 93px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-94 {
    margin-bottom: 94px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-94 {
    margin-bottom: 94px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-95 {
    margin-bottom: 95px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-95 {
    margin-bottom: 95px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-96 {
    margin-bottom: 96px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-96 {
    margin-bottom: 96px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-97 {
    margin-bottom: 97px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-97 {
    margin-bottom: 97px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-98 {
    margin-bottom: 98px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-98 {
    margin-bottom: 98px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-99 {
    margin-bottom: 99px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-99 {
    margin-bottom: 99px !important;
  }
}

@media screen and (min-width: 835px) {
  .mbpc-100 {
    margin-bottom: 100px !important;
  }
}

@media screen and (max-width: 834px) {
  .mbsp-100 {
    margin-bottom: 100px !important;
  }
}

.mb0 {
  margin-bottom: 0 !important;
}

.inner {
  display: block;
  width: 100%;
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

.clearfix {
  *zoom: 1;
}

.clearfix:before {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

a:hover {
  opacity: 0.7;
}

@media screen and (min-width: 835px) {
  a[href^="tel"] {
    pointer-events: none;
  }
}

@media screen and (max-width: 834px) {
  .pc {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .pc-ipd {
    display: none !important;
  }
}

@media screen and (max-width: 990px) {
  .pc-lg {
    display: none !important;
  }
}

@media screen and (max-width: 640px) {
  .pc-sm {
    display: none !important;
  }
}

@media screen and (max-width: 374px) {
  .pc-xs {
    display: none !important;
  }
}

@media screen and (min-width: 835px) {
  .sp {
    display: none !important;
  }
}

@media screen and (min-width: 1025px) {
  .sp-ipd {
    display: none !important;
  }
}

@media screen and (min-width: 991px) {
  .sp-lg {
    display: none !important;
  }
}

@media screen and (min-width: 641px) {
  .sp-sm {
    display: none !important;
  }
}

.ttl-comp01 {
  text-align: center;
  font-weight: bold;
  color: #141f42;
  font-size: 2.8rem;
}

@media screen and (max-width: 1024px) {
  .ttl-comp01 {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 834px) {
  .ttl-comp01 {
    font-size: 2.1333rem;
    line-height: 1.53125;
  }
}

.ttl-comp01 .lg {
  font-size: 3.2rem;
}

@media screen and (max-width: 1024px) {
  .ttl-comp01 .lg {
    font-size: 2.7rem;
  }
}

@media screen and (max-width: 834px) {
  .ttl-comp01 .lg {
    font-size: 2.15rem;
  }
}

.ttl-comp01 .lg02 {
  color: #ff6e78;
  font-size: 3.5rem;
}

@media screen and (max-width: 1024px) {
  .ttl-comp01 .lg02 {
    font-size: 2.7rem;
  }
}

@media screen and (max-width: 834px) {
  .ttl-comp01 .lg02 {
    font-size: 1.85rem;
    letter-spacing: 1px;
    margin-top: -3px;
    display: inline-block;
  }
}

@media screen and (max-width: 374px) {
  .ttl-comp01 .lg02 {
    font-size: 1.6rem;
  }
}

.ttl-comp02 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 40px;
  color: #3c3c3c;
  font-size: 3.2rem;
}

@media screen and (max-width: 834px) {
  .ttl-comp02 {
    margin-bottom: 25px;
    font-size: 2.133rem;
  }
}

.ttl-comp02 span {
  color: #ff6e78;
  font-weight: bold;
}

.txt-basic {
  line-height: 1.75;
  font-size: 1.6rem;
}

@media screen and (max-width: 1024px) {
  .txt-basic {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 834px) {
  .txt-basic {
    font-size: 1.2rem;
    line-height: 1.67;
  }
}

@media screen and (max-width: 374px) {
  .txt-basic {
    font-size: 1.15rem;
  }
}

.txt-basic02 {
  line-height: 1.72;
  font-size: 1.4rem;
  letter-spacing: 0.4px;
}

@media screen and (max-width: 834px) {
  .txt-basic02 {
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: 1.67;
  }
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.txt-left {
  text-align: left;
}

.btn-comp01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: #ff6e78;
  color: white;
  width: 145px;
  height: 37px;
  border-radius: 4px;
  padding: 0 10px 2px;
}

@media screen and (max-width: 640px) {
  .btn-comp01 {
    width: auto;
    max-width: none;
    padding: 0;
    height: auto;
    margin: -1px -2px 0 0;
  }
}

.btn-comp01--trans {
  background: transparent;
  color: #000;
  width: 130px;
  padding: 0 10px 4px;
}

@media screen and (max-width: 640px) {
  .btn-comp01--trans {
    width: auto;
    padding: 0;
  }
}

.btn-comp02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 486px;
  color: white;
  border-radius: 100px;
  margin: 0 auto;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 834px) {
  .btn-comp02 {
    max-width: 336px;
  }
}

@media screen and (max-width: 374px) {
  .btn-comp02 {
    width: 95vw;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.btn-comp02:after {
  position: absolute;
  content: '';
  width: 437px;
  height: 96px;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url("../img/common/btn-shadow.png") no-repeat;
  background-size: cover;
  z-index: -1;
}

@media screen and (max-width: 834px) {
  .btn-comp02:after {
    top: -6px;
    width: 243px;
    height: 62px;
    background: url("../img/common/btn-shadow-sp.png") no-repeat;
    background-size: cover;
  }
}

.btn-comp02 .inn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 52px;
  border: 1px solid #ff6e78;
  background: #ff6e78;
  border-radius: 100px;
  position: relative;
  padding: 0 83px 2px 30px;
}

@media screen and (max-width: 834px) {
  .btn-comp02 .inn {
    height: 35px;
    padding: 0 55px 0 21px;
  }
}

@media screen and (max-width: 374px) {
  .btn-comp02 .inn {
    padding: 0 50px 0 18px;
  }
}

.btn-comp02 .inn:before {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  top: calc(50% - 5px);
  left: 13px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 2px solid white;
  border-right: 2px solid white;
}

@media screen and (max-width: 834px) {
  .btn-comp02 .inn:before {
    width: 6px;
    height: 6px;
    top: calc(50% - 4px);
    left: 8px;
    border-top: 1px solid white;
    border-right: 1px solid white;
  }
}

.btn-comp02 .txt-main {
  font-size: 1.8rem;
  letter-spacing: 0.2px;
}

@media screen and (max-width: 834px) {
  .btn-comp02 .txt-main {
    font-size: 1.25rem;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 374px) {
  .btn-comp02 .txt-main {
    font-size: 1.15rem;
  }
}

.btn-comp02 .txt-ab {
  font-size: 2.1rem;
  position: absolute;
  width: 72px;
  height: 38px;
  background: white;
  color: #ff6e78;
  top: 50%;
  right: 6px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border-radius: 50px;
  padding: 0 0 4px 0;
}

@media screen and (max-width: 834px) {
  .btn-comp02 .txt-ab {
    padding: 0 0 2px 0;
    right: 3px;
    font-size: 1.45rem;
    height: 26px;
    width: 50px;
  }
}

@media screen and (max-width: 374px) {
  .btn-comp02 .txt-ab {
    font-size: 1.3rem;
    width: 45px;
  }
}

.btn-comp02--trans .inn {
  background: white;
  border-color: #3c3c3c;
  color: #3c3c3c;
  padding: 0 15px 2px;
}

.btn-comp02--noSha:after {
  display: none;
}

.bg-darkBlue {
  background: #141f42;
  color: white;
}

.bg-paleBlue {
  background: #bee1ff;
}

.bg-dots {
  background: url("../img/index/bg-img.jpg");
}

@media screen and (max-width: 834px) {
  .bg-dots {
    background: url("../img/index/bg-img.jpg");
    background-size: 375px auto;
  }
}

.c-pureBlue {
  color: #0096ff;
}

.hr-lightGrey {
  border: 0;
  height: 1px;
  background-image: url("../img/index/bg-img.jpg");
}

body {
  color: #3c3c3c;
  font-family: "Noto Sans JP", Arial, Helvetica, Verdana, sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  overflow: hidden;
}

.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  background: #f3bf35;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
}

@media screen and (max-width: 834px) {
  .header {
    font-size: 1.15rem;
  }
}

.header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
}

@media screen and (max-width: 834px) {
  .header .inner {
    height: 44px;
    padding: 0 13px;
  }
}

.header-logo {
  width: 203px;
}

@media screen and (max-width: 1024px) {
  .header-logo {
    width: 160px;
  }
}

@media screen and (max-width: 834px) {
  .header-logo {
    width: 74px;
    position: relative;
    top: -1px;
  }
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  width: calc(100% - 203px);
  padding: 0 60px 2px 15px;
  max-width: 653px;
}

@media screen and (max-width: 1024px) {
  .header-nav {
    padding: 0 0 0 15px;
    width: calc(100% - 160px);
  }
}

@media screen and (max-width: 834px) {
  .header-nav {
    padding: 0 0 0 0;
    width: auto;
  }
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 640px) {
  .header-menu {
    margin: 0 39px 1px 0;
  }
}

.header-menu__item {
  margin: 0 42px 4px 0;
}

@media screen and (max-width: 640px) {
  .header-menu__item {
    margin: 0 0 0 24px;
  }
}

.header-menu__item > a {
  position: relative;
}

.header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.header-control {
  position: relative;
  display: none;
}

@media screen and (max-width: 834px) {
  .header-control {
    display: block;
    width: 41px;
    height: 29px;
    margin: 0 0 6px auto;
  }
}

.header-control span {
  position: absolute;
  width: 100%;
  left: 0;
  height: 3px;
  background: #000;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header-control span:first-child {
  top: 0;
}

.header-control span:nth-of-type(2) {
  top: 44%;
}

.header-control span:last-child {
  bottom: 0;
}

.header-control.close span:first-child {
  top: 46%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header-control.close span:nth-of-type(2) {
  opacity: 0;
}

.header-control.close span:last-child {
  bottom: 46%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.main-page {
  margin-top: 56px;
}

@media screen and (max-width: 834px) {
  .main-page {
    margin-top: 44px;
  }
}

.footer {
  padding: 71px 0 0;
  background-image: url("../img/common/f-person-01.jpg"), url("../img/common/f-person-02.jpg");
  background-repeat: no-repeat;
  background-position: bottom 38.1% left 9.2%, top 23.8% right 11.1%;
}

@media screen and (max-width: 834px) {
  .footer {
    padding: 26px 0 0;
    background-size: 100px auto, 82px auto;
    background-position: top 194px left 11px, top 191px right 15px;
  }
}

.footer-inn {
  text-align: center;
  padding: 0 15px 23px;
}

@media screen and (max-width: 834px) {
  .footer-inn {
    padding: 0 15px 15px;
  }
}

.footer-txt {
  font-weight: 500;
  font-size: 2.8rem;
  margin-bottom: 44px;
}

@media screen and (max-width: 1024px) {
  .footer-txt {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 834px) {
  .footer-txt {
    font-size: 2.15rem;
    margin-bottom: 21px;
  }
}

.footer-btn {
  margin-bottom: 63px;
}

@media screen and (max-width: 834px) {
  .footer-btn {
    margin-bottom: 126px;
  }
}

.footer-b {
  padding: 17px 0 24px;
}

@media screen and (max-width: 834px) {
  .footer-b {
    padding: 15px 0 14px;
  }
}

.footer-b .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 9px;
}

@media screen and (max-width: 834px) {
  .footer-b .inner {
    padding: 0 11px;
  }
}

@media screen and (max-width: 834px) {
  .footer-logo img {
    width: 101px;
  }
}

.footer-menu {
  font-size: 1.3rem;
  font-weight: 500;
}

@media screen and (max-width: 834px) {
  .footer-menu {
    font-size: 0.95rem;
  }
}

.footer-menu > * {
  display: inline-block;
  margin-right: 30px;
  position: relative;
}

@media screen and (max-width: 834px) {
  .footer-menu > * {
    margin-right: 20px;
  }
}

.footer-menu > *:last-child:after {
  display: none;
}

.footer-menu > *:after {
  position: absolute;
  content: '';
  top: 3px;
  bottom: 1px;
  right: -15px;
  background: white;
  width: 1px;
}

@media screen and (max-width: 834px) {
  .footer-menu > *:after {
    right: -11px;
  }
}

.footer .copyright {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 5px 0 0 auto;
}

@media screen and (max-width: 834px) {
  .footer .copyright {
    font-size: 0.7rem;
  }
}

.is-locked {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.is-locked body {
  -webkit-overflow-scrolling: auto;
}

.sec-mv {
  background: url("../img/index/mv-bg.jpg") no-repeat;
  background-size: cover;
  padding: 18px 15px 0px;
  text-align: center;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 834px) {
  .sec-mv {
    background: url("../img/index/mv-bg-sp.jpg") no-repeat;
    background-size: cover;
    padding: 42px 15px;
  }
}

.mv-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1045px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (max-width: 834px) {
  .mv-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.mv-txt {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.75;
  margin-bottom: 14px;
}

@media screen and (max-width: 834px) {
  .mv-txt {
    font-size: 1.333rem;
    margin-bottom: 11px;
  }
}

.mv-ttl {
  margin-bottom: 11px;
}

@media screen and (max-width: 834px) {
  .mv-ttl {
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 834px) {
  .mv-ttl img {
    width: 310px;
  }
}

.mv-des {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.67;
  margin-bottom: 35px;
}

@media screen and (max-width: 834px) {
  .mv-des {
    font-size: 1.867rem;
    line-height: 1.58;
    margin-bottom: 31px;
  }
}

.mv-btn {
  max-width: 258px;
}

@media screen and (max-width: 834px) {
  .mv-btn {
    max-width: 196px;
  }
}

@media screen and (max-width: 374px) {
  .mv-btn {
    margin: 0;
  }
}

.mv-btn:after {
  width: 249px;
  height: 100px;
  background: url(../img/index/mv-btn-shadow.png) no-repeat;
  background-size: cover;
}

@media screen and (max-width: 834px) {
  .mv-btn:after {
    width: 142px;
    height: 45px;
    top: 5px;
    background: url(../img/index/mv-btn-shadow-sp.png) no-repeat;
    background-size: cover;
    background-position: center bottom;
  }
}

.mv-btn .inn {
  height: 57px;
  padding: 0 94px 2px 30px;
}

@media screen and (max-width: 834px) {
  .mv-btn .inn.mac {
    padding-bottom: 4px;
  }
}

@media screen and (max-width: 834px) {
  .mv-btn .inn {
    height: 43px;
    padding: 0 67px 0 21px;
  }
}

.mv-btn .inn:before {
  left: 14px;
}

@media screen and (max-width: 834px) {
  .mv-btn .inn:before {
    left: 9px;
  }
}

.mv-btn .inn .txt-main {
  font-size: 2rem;
}

@media screen and (max-width: 834px) {
  .mv-btn .inn .txt-main {
    letter-spacing: 2px;
    font-size: 1.313rem;
  }
}

.mv-btn .inn .txt-ab {
  font-size: 2.3rem;
  width: 80px;
  height: 43px;
}

@media screen and (max-width: 834px) {
  .mv-btn .inn .txt-ab {
    font-size: 1.733rem;
    height: 33px;
    width: 62px;
  }
}

.mv-img01 {
  width: 52%;
}

@media screen and (max-width: 834px) {
  .mv-img01 {
    width: 100%;
    text-align: center;
    margin-bottom: -131px;
  }
}

.mv-img01 img {
  max-width: 400px;
  width: 100%;
}

@media screen and (max-width: 834px) {
  .mv-img01 img {
    max-width: 72%;
  }
}

.mv-content {
  width: 48%;
  padding-top: 23px;
}

@media screen and (max-width: 834px) {
  .mv-content {
    width: 100%;
    padding-top: 0;
    margin-bottom: 41px;
  }
}

.sec-movie {
  padding: 33px 0 59px;
}

@media screen and (max-width: 834px) {
  .sec-movie {
    padding: 55px 0 34px;
  }
}

.sec-movie .inner {
  max-width: 638px;
}

@media screen and (max-width: 834px) {
  .sec-movie .inner {
    padding: 0 29px 0 30px;
  }
}

.sec-movie .ttl-comp02 {
  margin-bottom: 29px;
}

@media screen and (max-width: 834px) {
  .sec-movie .ttl-comp02 {
    margin-bottom: 22px;
  }
}

.movie-box {
  position: relative;
  overflow: hidden;
}

.movie-box:before {
  content: "";
  display: block;
  padding-bottom: calc(342/608*100%);
}

@media screen and (max-width: 834px) {
  .movie-box:before {
    padding-bottom: calc(532/945*100%);
  }
}

.movie-box .inn {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.movie-box .inn > * {
  display: block;
  width: 100%;
  height: 100%;
}

.sec-below-mv {
  padding: 30px 0 30px;
  position: relative;
}

@media screen and (max-width: 834px) {
  .sec-below-mv {
    padding: 130px 0 31px;
  }
}

.sec-support {
  padding: 46px 0 75px;
  position: relative;
  z-index: 1;
}

.support-item {
  position: relative;
  padding-bottom: 58px;
  margin-bottom: 39px;
  background: url("../img/index/bg-01.png") center no-repeat;
  background-size: cover;
}

@media screen and (max-width: 834px) {
  .support-item {
    padding-bottom: 30px;
    margin-bottom: 21px;
  }
}

.support-item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.support-item:last-child:after {
  display: none;
}

.support-item:after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100vw;
  background: #f5f0eb;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 0;
}

@media screen and (min-width: 835px) {
  .support-item .ttl-comp01 {
    line-height: 1.65;
  }
}

.support-solve {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 834px) {
  .support-solve {
    font-size: 1.55rem;
    line-height: 1.9;
  }
}

@media screen and (max-width: 640px) {
  .support-solve {
    display: block;
  }
}

.support-solve .line {
  position: relative;
}

@media screen and (max-width: 640px) {
  .support-solve .line {
    display: inline-block;
  }
}

.support-solve .line:before {
  position: absolute;
  content: '';
  width: 576px;
  height: 6px;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url("../img/index/solve-border.png") no-repeat;
}

@media screen and (max-width: 834px) {
  .support-solve .line:before {
    -webkit-transform: none;
            transform: none;
    width: auto;
    height: 2px;
    bottom: 3px;
    left: 0;
    right: 0;
    background: url(../img/index/solve-border.png) repeat-x;
    background-size: auto 100%;
  }
}

.support-img01 {
  max-width: 1073px;
  padding-right: 55px;
  margin: 0 auto 105px;
}

@media screen and (max-width: 1150px) {
  .support-img01 {
    padding-right: 0;
  }
}

@media screen and (max-width: 834px) {
  .support-img01 {
    margin: 0 auto 75px;
  }
}

@media screen and (max-width: 640px) {
  .support-img01 {
    text-align: center;
  }
}

.support-img02 {
  max-width: 960px;
  margin: 0 auto 85px;
  text-align: right;
}

@media screen and (max-width: 834px) {
  .support-img02 {
    text-align: center;
    padding: 0 7px 0 0;
    position: relative;
    left: -1px;
    margin: 0 auto 77px;
  }
}

.support-des {
  position: relative;
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.65;
  color: #fff;
  margin-bottom: 39px;
}

@media screen and (max-width: 1024px) {
  .support-des {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 834px) {
  .support-des {
    font-size: 1.55rem;
    margin-bottom: 17px;
  }
}

@media screen and (max-width: 374px) {
  .support-des {
    font-size: 1.4rem;
  }
}

.support-des:last-child {
  margin-bottom: 0;
}

.support-des > * {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #141f42), color-stop(50%, transparent));
  background-image: linear-gradient(to right, #141f42 50%, transparent 50%);
  background-size: 200% 91%;
  background-repeat: no-repeat;
  background-position: left 0 bottom 1px;
}

@media screen and (max-width: 834px) {
  .support-des > * {
    background-position: left 0 bottom 0px;
  }
}

.support-des:before {
  position: absolute;
  content: '';
  border-top: 18px solid #141f42;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -46px;
}

@media screen and (max-width: 834px) {
  .support-des:before {
    top: -39px;
  }
}

.sec-users {
  padding: 40px 0 44px;
}

@media screen and (max-width: 834px) {
  .sec-users {
    padding: 17px 0 34px;
  }
  .sec-users .ttl-comp01 {
    font-size: 1.533rem;
  }
}

.sec-users .btn-comp02 {
  max-width: 463px;
}

@media screen and (max-width: 834px) {
  .sec-users .btn-comp02 {
    max-width: 320px;
  }
}

.users-img {
  padding: 27px 0 37px 80px;
}

@media screen and (max-width: 1150px) {
  .users-img {
    padding: 27px 0 37px;
  }
}

@media screen and (max-width: 834px) {
  .users-img {
    padding: 17px 0 0 10px;
    margin: 0 -2px 0 0;
  }
}

.users-des {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.78;
  margin-bottom: 53px;
}

@media screen and (max-width: 1024px) {
  .users-des {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 834px) {
  .users-des {
    font-size: 1.2rem;
    line-height: 1.67;
    padding: 0 10px;
    margin-bottom: 31px;
  }
}

.sec-benefit {
  padding: 43px 0 80px;
}

@media screen and (max-width: 834px) {
  .sec-benefit {
    padding: 31px 0 30px;
  }
}

.sec-benefit .btn-comp02 .inn {
  background: #ff6e78;
  border-color: #ff6e78;
}

.sec-benefit .btn-comp02 .txt-ab {
  color: #ff6e78;
}

.benefit-heading {
  text-align: center;
  color: #3c3c3c;
  font-weight: 500;
  margin-bottom: 42px;
  font-size: 2.4rem;
}

@media screen and (max-width: 834px) {
  .benefit-heading {
    margin-bottom: 4px;
    font-size: 1.2rem;
  }
}

.benefit-heading span {
  margin-top: 7px;
  color: #ff6e78;
  display: block;
  font-weight: bold;
  font-size: 3.4rem;
}

@media screen and (max-width: 834px) {
  .benefit-heading span {
    margin-top: 3px;
    font-size: 2.133rem;
  }
}

.benefit-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 64px;
  padding: 0 44px 0 48px;
}

@media screen and (max-width: 1150px) {
  .benefit-list {
    padding: 0;
    margin: 0 -10px 55px;
  }
}

@media screen and (max-width: 834px) {
  .benefit-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
}

.benefit-item {
  width: 33.33%;
  padding: 0 15px;
}

@media screen and (max-width: 1150px) {
  .benefit-item {
    padding: 0 10px;
  }
}

@media screen and (max-width: 834px) {
  .benefit-item {
    width: 100%;
    padding: 0;
    margin-bottom: 35px;
  }
  .benefit-item:last-child {
    margin-bottom: 0;
  }
}

.benefit-img {
  margin-bottom: 14px;
  text-align: center;
}

@media screen and (max-width: 834px) {
  .benefit-img {
    margin-bottom: 15px;
  }
}

.benefit-ttl {
  text-align: center;
  color: #3c3c3c;
  font-weight: bold;
  line-height: 1.75;
  font-size: 1.6rem;
}

@media screen and (max-width: 1150px) {
  .benefit-ttl {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 834px) {
  .benefit-ttl {
    line-height: 1.6;
    font-size: 1.333rem;
  }
}

.sec-company {
  padding: 65px 0 80px;
  background: url("../img/index/bg-02.png") #fcefcc center no-repeat;
  background-size: cover;
}

@media screen and (max-width: 834px) {
  .sec-company {
    padding: 29px 0 50px;
  }
}

.company-box {
  background: #fff;
  border-radius: 10px;
  padding: 34px 40px 34px 55px;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 10px 31px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 31px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 834px) {
  .company-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 21px 21px 29px;
    width: calc(100% - 10px);
  }
}

@media screen and (max-width: 374px) {
  .company-box {
    padding: 20px 12px 20px;
  }
}

@media screen and (max-width: 834px) {
  .company-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 18px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .company-flex__img {
    width: 27.75%;
  }
  .company-flex__ct {
    width: 72.25%;
    padding-left: 25px;
    padding-top: 6px;
  }
}

@media screen and (max-width: 834px) and (max-width: 374px) {
  .company-flex__ct {
    padding-top: 0;
    padding-left: 12px;
  }
}

@media screen and (max-width: 834px) {
  .company-flex__desc {
    line-height: 1.5 !important;
    color: #3c3c3c;
    font-size: 9.33px !important;
  }
}

.company-img {
  width: 183px;
  text-align: center;
}

.company-img > img {
  margin-bottom: 25px;
}

.company-img p {
  text-align: center;
  color: #3c3c3c;
  line-height: 1.428;
  font-size: 1.4rem;
}

@media screen and (max-width: 834px) {
  .company-img p {
    font-size: 0.9333rem;
  }
}

.company-img p span {
  margin-top: 6px;
  display: block;
}

.company-ct {
  width: calc(100% - 183px);
  padding-left: 52px;
  padding-top: 6px;
}

@media screen and (max-width: 1150px) {
  .company-ct {
    padding-top: 0;
    padding-left: 25px;
  }
}

@media screen and (max-width: 834px) {
  .company-ct {
    width: 100%;
    padding-left: 0;
  }
}

.company-ct p {
  color: #3c3c3c;
  line-height: 1.75;
  margin-bottom: 28px;
  -webkit-font-feature-settings: "palt" 1;
          font-feature-settings: "palt" 1;
  letter-spacing: 1.1px;
  font-size: 1.6rem;
}

@media screen and (max-width: 834px) {
  .company-ct p {
    line-height: 1.667;
    letter-spacing: 0.7px;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
}

.company-ct p span {
  color: #ff6e78;
  font-weight: bold;
}

.company-ct p:last-child {
  margin-bottom: 0;
}

.company-ttl {
  margin-bottom: 9px;
}

@media screen and (max-width: 834px) {
  .company-ttl {
    margin-bottom: 5px;
  }
}

.company-ttl span {
  margin-bottom: 6px;
  padding: 4px 6px 5px 6px;
  background: #ff6e78;
  color: #fff;
  line-height: 1.1;
  font-weight: bold;
  display: inline-block;
  font-size: 2.4rem;
}

@media screen and (max-width: 834px) {
  .company-ttl span {
    margin-bottom: 4px;
    padding: 2px 6px 2px 4px;
    font-size: 1.333rem;
  }
}

@media screen and (max-width: 374px) {
  .company-ttl span {
    padding: 2px 5px 4px;
    font-size: 1.25rem;
  }
}

.sec-distributor {
  padding: 30px 0 30px;
  position: relative;
}

@media screen and (max-width: 834px) {
  .sec-distributor {
    padding: 26px 0 6px;
  }
}

.sec-distributor .txt-basic {
  margin-bottom: 35px;
  letter-spacing: 0.5px;
  text-align: center;
}

@media screen and (max-width: 834px) {
  .sec-distributor .txt-basic {
    margin-bottom: 21px;
  }
}

.sec-info {
  padding: 71px 0 80px;
}

@media screen and (max-width: 834px) {
  .sec-info {
    padding: 26px 0 6px;
  }
}

.sec-info .txt-basic {
  margin-bottom: 35px;
  letter-spacing: 0.5px;
  text-align: center;
}

@media screen and (max-width: 834px) {
  .sec-info .txt-basic {
    margin-bottom: 21px;
  }
}

.info-list {
  max-width: 1003px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

@media screen and (max-width: 834px) {
  .info-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }
}

.info-item {
  width: 33.33%;
  padding: 0 23px;
  text-align: center;
}

@media screen and (max-width: 1150px) {
  .info-item {
    padding: 0 15px;
  }
}

@media screen and (max-width: 834px) {
  .info-item {
    width: 100%;
    padding: 0;
    margin-bottom: -7px;
  }
  .info-item:last-child {
    margin-bottom: 0;
  }
}

.info-item p {
  color: #fff;
  text-align: center;
  font-weight: bold;
  line-height: 1.555;
  font-size: 1.8rem;
}

@media screen and (max-width: 1150px) {
  .info-item p {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 834px) {
  .info-item p {
    font-size: 1.4rem;
  }
}

.info-ct {
  background: url("../img/index/bg-03.png") center no-repeat;
  background-size: 100% 100%;
  padding: 29px 40px;
}

@media screen and (max-width: 1150px) {
  .info-ct {
    padding: 20px 30px;
  }
}

@media screen and (max-width: 834px) {
  .info-ct {
    background: url("../img/index/bg-03-sp.png") center no-repeat;
    background-size: 100% 100%;
    padding: 27px 10px 62px;
  }
}

.info-ttl {
  color: #fff;
  font-weight: bold;
  margin-bottom: 9px;
  line-height: 1.2;
  font-size: 3.6rem;
}

@media screen and (max-width: 1150px) {
  .info-ttl {
    font-size: 2.4rem;
  }
}

@media screen and (max-width: 834px) {
  .info-ttl {
    margin-bottom: 6px;
    font-size: 2.6667rem;
  }
}

.sec-faq {
  padding: 42px 0 83px;
  background: #f3bf35;
}

@media screen and (max-width: 834px) {
  .sec-faq {
    padding: 24px 0 33px;
  }
}

.sec-faq .inner {
  max-width: 830px;
}

.sec-faq .ttl-comp01 {
  color: #141f42;
  margin-bottom: 42px;
}

@media screen and (max-width: 834px) {
  .sec-faq .ttl-comp01 {
    font-size: 2.15rem;
    margin-bottom: 23px;
  }
}

.faq-list {
  border-top: 1px solid #141f42;
}

.faq-list__item {
  border-bottom: 1px solid #141f42;
}

.faq-list__q {
  font-size: 2rem;
  font-weight: bold;
  position: relative;
  padding: 34px 0 35px 0;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media screen and (max-width: 834px) {
  .faq-list__q {
    font-size: 1.867rem;
    padding: 20px 0 24px;
    line-height: 1.47;
  }
}

.faq-list__q:hover {
  opacity: 0.7;
}

.faq-list__q .ico {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 49%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (max-width: 834px) {
  .faq-list__q .ico {
    width: 34px;
    height: 34px;
    right: -3px;
  }
}

.faq-list__q .ico:before, .faq-list__q .ico:after {
  position: absolute;
  content: '';
  background: #141f42;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.faq-list__q .ico:before {
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
}

.faq-list__q .ico:after {
  height: 1px;
  width: 100%;
  top: 50%;
  left: 0;
}

.faq-list__q.on .ico:before {
  opacity: 0;
}

.faq-list__a {
  display: none;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.75;
  margin: -19px 0 0 0;
  padding: 0 0 34px 0;
  width: 100%;
  max-width: 695px;
}

@media screen and (max-width: 834px) {
  .faq-list__a {
    text-align: justify;
    font-size: 1.33rem;
    line-height: 1.8;
    margin: -8px 0 0 0;
    padding: 0 40px 19px 0;
  }
}
/*# sourceMappingURL=maps/styles.css.map */