<footer id="footer" class="footer">
	<div class="footer-inn">
		<p class="footer-txt">
			資料ダウンロード・お問い合わせ
		</p>
		<div class="footer-btn">
			<a href="https://info.dev.okwave.jp/okwaveplus/document/salesmaterial01.html" target="_blank" class="btn-comp02 mbpc-26 mbsp-16">
				<span class="inn">
					<span class="txt-main">OKWAVE Plusがもっと分かる資料はこちら</span>
					<span class="txt-ab">無料</span>
				</span>
			</a>
			<a href="https://info.dev.okwave.jp/okwaveplus/contact/inquiry.html" target="_blank" class="btn-comp02 btn-comp02--trans btn-comp02--noSha">
				<span class="inn">
					<span class="txt-main">お問い合わせ</span>
				</span>
			</a>
		</div>
		<div class="footer-logo">
			<a href="/">
				<img src="<%= RELATIVE_PATH %>img/common/logo-f.png" width="162" alt="logo">
			</a>
		</div>
	</div>
	<div class="footer-b bg-darkBlue">
		<div class="inner">
			<div class="footer-menu">
				<a href="https://okwave.co.jp/" target="_blank">運営会社</a>
				<a href="https://okwave.co.jp/about/policy/" target="_blank">プライバシーポリシー</a>
			</div>
			<p class="copyright">
				&copy; 2021 OKWAVE, Inc.
			</p>
		</div>
	</div>
</footer>