<header id="header" class="header">
	<div class="inner">
		<a href="/" class="header-logo">
			<img src="<%= RELATIVE_PATH %>img/common/logo.svg" width="182" alt="OKWAVE Plus+">
		</a>
		<nav class="header-nav">
			<ul class="header-menu">
				<li class="header-menu__item">
					<a href="#voice" class="link">導入事例</a>
				</li>
				<li class="header-menu__item">
					<a href="#features" class="link">３つの特長</a>
				</li>
			</ul>
			<div class="header-btn">
				<a href="https://info.dev.okwave.jp/okwaveplus/contact/inquiry.html" target="_blank" class="btn-comp01 btn-comp01--trans">
					<span>お問い合わせ</span>
				</a>
				<a href="https://info.dev.okwave.jp/okwaveplus/document/sales-material01.html" target="_blank" class="btn-comp01 pc-sm">
					<strong>資料ダウンロード</strong>
				</a>
			</div>
		</nav>
	</div>
</header>