.sec-mv {
	background: url("../img/index/mv-bg.jpg") no-repeat;
	background-size: cover;
	padding: 18px 15px 0px;
	text-align: center;
	position: relative;
	z-index: 2;
	@include mq {
		background: url("../img/index/mv-bg-sp.jpg") no-repeat;
		background-size: cover;
		padding: 42px 15px;
	}
}
.mv {
	&-flex{
		display: flex;
		max-width: 1045px;
		padding: 0 15px;
		margin: 0 auto;
		@include mq(){
			flex-wrap: wrap;
		}
	}
	&-txt {
		font-weight: bold;
		@include font-size(18);
		line-height: 1.75;
		margin-bottom: 14px;
		@include mq {
			@include font-size(13.33);
			margin-bottom: 11px;
		}
	}
	&-ttl {
		margin-bottom: 11px;
		@include mq {
			margin-bottom: 7px;
		}
		img {
			@include mq {
				width: 310px;
			}
		}
	}
	&-des {
		@include font-size(24);
		font-weight: bold;
		line-height: 1.67;
		margin-bottom: 35px;
		@include mq {
			@include font-size(18.67);
			line-height: 1.58;
			margin-bottom: 31px;
		}
	}
	&-btn {
		max-width: 258px;
		@include mq {
			max-width: 196px;
		}
		@include mq(xs){
			margin: 0;
		}
		&:after {
			width: 249px;
			height: 100px;
			background: url(../img/index/mv-btn-shadow.png) no-repeat;
			background-size: cover;
			@include mq {
				width: 142px;
				height: 45px;
				top: 5px;
				background: url(../img/index/mv-btn-shadow-sp.png) no-repeat;
				background-size: cover;
				background-position: center bottom;
			}
		}
		.inn {
			height: 57px;
			padding: 0 94px 2px 30px;
			&.mac{
				@include mq(){
					padding-bottom: 4px;
				}
			}
			@include mq {
				height: 43px;
				padding: 0 67px 0 21px;
			}
			&:before {
				left: 14px;
				@include mq {
					left: 9px;
				}
			}
			.txt {
				&-main {
					@include font-size(20);
					@include mq {
						letter-spacing: 2px;
						@include font-size(13.13);
					}
				}
				&-ab {
					@include font-size(23);
					width: 80px;
					height: 43px;
					@include mq {
						@include font-size(17.33);
						height: 33px;
						width: 62px;
					}
				}
			}
		}
	}
	&-img01 {
		width: 52%;
		@include mq(){
			width: 100%;
			text-align: center;
			margin-bottom: -131px;
		}
		img{
			max-width: 400px;
			width: 100%;
			@include mq(){
				max-width: 72%;
			}
		}
	}
	&-content{
		width: 48%;
		padding-top: 23px;
		@include mq(){
			width: 100%;
			padding-top: 0;
			margin-bottom: 41px;
		}
	}
}

.sec-movie {
	padding: 33px 0 59px;
	@include mq {
		padding: 55px 0 34px;
	}
	.inner {
		max-width: 638px;
		@include mq {
			padding: 0 29px 0 30px;
		}
	}
	.ttl-comp02 {
		margin-bottom: 29px;
		@include mq {
			margin-bottom: 22px;
		}
	}
}
.movie {
	&-box {
		position: relative;
		overflow: hidden;
		&:before {
			content: "";
			display: block;
			padding-bottom: calc(342/608*100%);
			@include mq {
				padding-bottom: calc(532/945*100%);
			}
		}
		.inn {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			> * {
				display: block;
				width: 100%;
				height: 100%;
			}
		}
	}
}

.sec-below-mv {
	padding: 30px 0 30px;
	position: relative;
	@include mq {
		padding: 130px 0 31px;
	}
}

.sec-support {
	padding: 46px 0 75px;
	position: relative;
	z-index: 1;
}
.support {
	&-item {
		position: relative;
		padding-bottom: 58px;
		margin-bottom: 39px;
		background: url('../img/index/bg-01.png') center no-repeat;
		background-size: cover;
		@include mq {
			padding-bottom: 30px;
			margin-bottom: 21px;
		}
		&:last-child {
			padding-bottom: 0;
			margin-bottom: 0;
			&:after {
				display: none;
			}
		}
		&:after {
			position: absolute;
			content: '';
			height: 1px;
			width: 100vw;
			background: #f5f0eb;
			transform: translateX(-50%);
			left: 50%;
			bottom: 0;
		}
		.ttl-comp01 {
			@include mq(md-min){
				line-height: 1.65;
			}
		}
	}
	&-solve {
		@include font-size(20);
		font-weight: bold;
		text-align: center;
		display: flex;
		justify-content: center;
		@include mq {
			@include font-size(15.5);
			line-height: 1.9;
		}
		@include mq(sm) {
			display: block;
		}
		.line {
			position: relative;
			@include mq(sm) {
				display: inline-block;
			}
			&:before {
				position: absolute;
				content: '';
				width: 576px;
				height: 6px;
				bottom: -5px;
				left: 50%;
				transform: translateX(-50%);
				background: url("../img/index/solve-border.png") no-repeat;
				@include mq {
					transform: none;
					width: auto;
					height: 2px;
					bottom: 3px;
					left: 0;
					right: 0;
					background: url(../img/index/solve-border.png) repeat-x;
					background-size: auto 100%;
				}
			}
		}
	}
	&-img01 {
		max-width: 1073px;
		padding-right: 55px;
		margin: 0 auto 105px;
		@include mq(xl){
			padding-right: 0;
		}
		@include mq {
			margin: 0 auto 75px;
		}
		@include mq(sm) {
			text-align: center;
		}
	}
	&-img02 {
		max-width: 960px;
		margin: 0 auto 85px;
		text-align: right;
		@include mq {
			text-align: center;
			padding: 0 7px 0 0;
			position: relative;
			left: -1px;
			margin: 0 auto 77px;
		}
	}
	&-des {
		position: relative;
		text-align: center;
		@include font-size(28);
		font-weight: bold;
		line-height: 1.65;
		color: #fff;
		margin-bottom: 39px;
		@include mq(ipd) {
			@include font-size(21);
		}
		@include mq {
			@include font-size(15.5);
			margin-bottom: 17px;
		}
		@include mq(xs){
			@include font-size(14);
		}
		&:last-child {
			margin-bottom: 0;
		}
		> * {
			background-image: linear-gradient(to right, #141f42 50%, transparent 50%);
			background-size: 200% 91%;
			background-repeat: no-repeat;
			background-position: left 0 bottom 1px;
			@include mq {
				background-position: left 0 bottom 0px;
			}
		}
		&:before {
			position: absolute;
			content: '';
			border-top: 18px solid #141f42;
			border-left: 35px solid transparent;
			border-right: 35px solid transparent;
			left: 50%;
			transform: translateX(-50%);
			top: -46px;
			@include mq {
				top: -39px;
			}
		}
	}
}

.sec-users {
	padding: 40px 0 44px;
	@include mq {
		padding: 17px 0 34px;
		.ttl-comp01{
			@include font-size(15.33);
		}
	}
	.btn-comp02 {
		max-width: 463px;
		@include mq {
			max-width: 320px;
		}
	}
}
.users {
	&-img {
		padding: 27px 0 37px 80px;
		@include mq(xl){
			padding: 27px 0 37px;
		}
		@include mq {
			padding: 17px 0 0 10px;
			margin: 0 -2px 0 0;
		}
	}
	&-des {
		@include font-size(18);
		font-weight: 500;
		line-height: 1.78;
		margin-bottom: 53px;
		@include mq(ipd) {
			@include font-size(15);
		}
		@include mq {
			@include font-size(12);
			line-height: 1.67;
			padding: 0 10px;
			margin-bottom: 31px;
		}
	}
}

.sec-benefit{
	padding: 43px 0 80px;
	@include mq(){
		padding: 31px 0 30px;
	}
	.btn-comp02{
		.inn{
			background: #ff6e78;
			border-color: #ff6e78;
		}
		.txt-ab{
			color: #ff6e78;
		}
	}
}

.benefit{
	&-heading{
		text-align: center;
		color: #3c3c3c;
		font-weight: 500;
		margin-bottom: 42px;
		@include font-size(24);
		@include mq(){
			margin-bottom: 4px;
			@include font-size(12);
		}
		span{
			margin-top: 7px;
			color: #ff6e78;
			display: block;
			font-weight: bold;
			@include font-size(34);
			@include mq(){
				margin-top: 3px;
				@include font-size(21.33);
			}
		}
	}
	&-list{
		display: flex;
		margin-bottom: 64px;
		padding: 0 44px 0 48px;
		@include mq(xl){
			padding: 0;
			margin: 0 -10px 55px;
		}
		@include mq(){
			flex-wrap: wrap;
			margin: 0
		}
	}
	&-item{
		width: 33.33%;
		padding: 0 15px;
		@include mq(xl){
			padding: 0 10px;
		}
		@include mq(){
			width: 100%;
			padding: 0;
			margin-bottom: 35px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&-img{
		margin-bottom: 14px;
		text-align: center;
		@include mq(){
			margin-bottom: 15px;
		}
	}
	&-ttl{
		text-align: center;
		color: #3c3c3c;
		font-weight: bold;
		line-height: 1.75;
		@include font-size(16);
		@include mq(xl){
			@include font-size(15);
		}
		@include mq(){
			line-height: 1.6;
			@include font-size(13.33);
		}
	}
}

.sec-company{
	padding: 65px 0 80px;
	background: url('../img/index/bg-02.png') #fcefcc center no-repeat;
	background-size: cover;
	@include mq(){
		padding: 29px 0 50px;
	}
}

.company{
	&-box{
		background: #fff;
		border-radius: 10px;
		padding: 34px 40px 34px 55px;
		max-width: 960px;
		width: 100%;
		margin: 0 auto;
		display: flex;
		box-shadow: 0 10px 31px rgba(#000,0.3);
		@include mq(){
			flex-wrap: wrap;
			padding: 21px 21px 29px;
			width: calc(100% - 10px);
		}
		@include mq(xs){
			padding: 20px 12px 20px;
		}
	}
	&-flex{
		@include mq(){
			display: flex;
			margin-bottom: 18px;
			align-items: center;
			&__img{
				width: 27.75%;
			}
			&__ct{
				width: 72.25%;
				padding-left: 25px;
				padding-top: 6px;
				@include mq(xs){
					padding-top: 0;
					padding-left: 12px;
				}
			}
			&__desc{
				line-height: 1.5 !important;
				color: #3c3c3c;
				font-size: 9.33px !important;
			}
		}
	}
	&-img{
		width: 183px;
		text-align: center;
		>img{
			margin-bottom: 25px;
		}
		p{
			text-align: center;
			color: #3c3c3c;
			line-height: 1.428;
			@include font-size(14);
			@include mq(){
				@include font-size(9.333);
			}
			span{
				margin-top: 6px;
				display: block;
			}
		}
	}
	&-ct{
		width: calc(100% - 183px);
		padding-left: 52px;
		padding-top: 6px;
		@include mq(xl){
			padding-top: 0;
			padding-left: 25px;
		}
		@include mq(){
			width: 100%;
			padding-left: 0;
		}
		p{
			color: #3c3c3c;
			line-height: 1.75;
			margin-bottom: 28px;
			font-feature-settings: "palt" 1;
			letter-spacing: 1.1px;
			@include font-size(16);
			@include mq(){
				line-height: 1.667;
				letter-spacing: 0.7px;
				margin-bottom: 20px;
				@include font-size(12);
			}
			span{
				color: #ff6e78;
				font-weight: bold;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	&-ttl{
		margin-bottom: 9px;
		@include mq(){
			margin-bottom: 5px;
		}
		span{
			margin-bottom: 6px;
			padding: 4px 6px 5px 6px;
			background: #ff6e78;
			color: #fff;
			line-height: 1.1;
			font-weight: bold;
			display: inline-block;
			@include font-size(24);
			@include mq(){
				margin-bottom: 4px;
				padding: 2px 6px 2px 4px;
				@include font-size(13.33);
			}
			@include mq(xs){
				padding: 2px 5px 4px;
				@include font-size(12.5);
			}
		}
	}
}

.sec-distributor {
	padding: 30px 0 30px;
	position: relative;
	@include mq(){
		padding: 26px 0 6px;
	}
	.txt-basic{
		margin-bottom: 35px;
		letter-spacing: 0.5px;
		text-align: center;
		@include mq(){
			margin-bottom: 21px;
		}
	}
}

.sec-info{
	padding: 71px 0 80px;
	@include mq(){
		padding: 26px 0 6px;
	}
	.txt-basic{
		margin-bottom: 35px;
		letter-spacing: 0.5px;
		text-align: center;
		@include mq(){
			margin-bottom: 21px;
		}
	}
}

.info{
	&-list{
		max-width: 1003px;
		width: 100%;
		display: flex;
		margin: 0 auto;
		@include mq(){
			flex-wrap: wrap;
			max-width: 300px;
			width: 100%;
			margin: 0 auto;
		}
	}
	&-item{
		width: 33.33%;
		padding: 0 23px;
		text-align: center;
		@include mq(xl){
			padding: 0 15px;
		}
		@include mq(){
			width: 100%;
			padding: 0;
			margin-bottom: -7px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		p{
			color: #fff;
			text-align: center;
			font-weight: bold;
			line-height: 1.555;
			@include font-size(18);
			@include mq(xl){
				@include font-size(16);
			}
			@include mq(){
				@include font-size(14);
			}
		}
	}
	&-ct{
		background: url('../img/index/bg-03.png') center no-repeat;
		background-size: 100% 100%;
		padding: 29px 40px;
		@include mq(xl){
			padding: 20px 30px;
		}
		@include mq(){
			background: url('../img/index/bg-03-sp.png') center no-repeat;
			background-size: 100% 100%;
			padding: 27px 10px 62px;
		}
	}
	&-ttl{
		color: #fff;
		font-weight: bold;
		margin-bottom: 9px;
		line-height: 1.2;
		@include font-size(36);
		@include mq(xl){
			@include font-size(24);
		}
		@include mq(){
			margin-bottom: 6px;
			@include font-size(26.667);
		}
	}
}

.sec-faq {
	padding: 42px 0 83px;
	background: #f3bf35;
	@include mq {
		padding: 24px 0 33px;
	}
	.inner {
		max-width: 830px;
	}
	.ttl-comp01 {
		color: #141f42;
		margin-bottom: 42px;
		@include mq {
			@include font-size(21.5);
			margin-bottom: 23px;
		}
	}
}
.faq {
	&-list {
		border-top: 1px solid #141f42;
		&__item {
			border-bottom: 1px solid #141f42;
		}
		&__q {
			@include font-size(20);
			font-weight: bold;
			position: relative;
			padding: 34px 0 35px 0;
			cursor: pointer;
			@include smooth-transition;
			@include mq {
				@include font-size(18.67);
				padding: 20px 0 24px;
				line-height: 1.47;
			}
			&:hover {
				opacity: 0.7;
			}
			.ico {
				position: absolute;
				width: 24px;
				height: 24px;
				top: 49%;
				right: 0;
				transform: translateY(-50%);
				@include mq {
					width: 34px;
					height: 34px;
					right: -3px;
				}
				&:before, &:after {
					position: absolute;
					content: '';
					background:  #141f42;
					@include smooth-transition;
				}
				&:before {
					width: 1px;
					height: 100%;
					left: 50%;
					top: 0;
				}
				&:after {
					height: 1px;
					width: 100%;
					top: 50%;
					left: 0;
				}
			}
			&.on {
				.ico {
					&:before {
						opacity: 0;
					}
				}
			}
		}
		&__a {
			display: none;
			@include font-size(16);
			font-weight: 500;
			line-height: 1.75;
			margin: -19px 0 0 0;
			padding: 0 0 34px 0;
			width: 100%;
			max-width: 695px;
			@include mq {
				text-align: justify;
				@include font-size(13.3);
				line-height: 1.8;
				margin: -8px 0 0 0;
				padding: 0 40px 19px 0;
			}
		}
	}
}